<h1 class="title is-1 has-text-centered" style="font-family: 'Alfa Slab One'; color: #00CBA9">Employees</h1>
<br>
<div class="admin-main">
  <br><br>
  <div class="tabs is-toggle is-centered">
    <ul>
      <li>
        <a>Employees
        </a>
      </li>
      <li>
        <a>
          Friends
        </a>
      </li>
      <li>
        <a>
          Family
        </a>
      </li>
      <li>
        <a>
          Discounts
        </a>
      </li>
    </ul>
  </div>
  <!-- <form #employeeForm="ngForm">
    <table class="table" align="center">
      <thead>
        <tr>
          <th></th>
          <th>ID</th>
          <th>FIRST NAME</th>
          <th>LAST NAME</th>
          <th>DEPARTMENT</th>
          <th>STATUS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees; let i = index" [attr.data-index]="i" id="tableRow">
          <td><input #chkbox type="checkbox" name="chkbox" id="chkbox-{{i}}" (change)="toggleDisabled(chkbox)"></td>
          <td><input type="text" class="input is-small is-primary myclass-{{i}}" [ngModel]="employee.id" name="id"
              readonly></td>
          <td><input type="text" class="input is-small is-primary myclass-{{i}}"
              [ngModel]="employee.first_name | uppercase" (ngModelChange)="employee.first_name=$event" name="first_name"
              readonly>
          </td>
          <td><input type="text" class="input is-small is-primary myclass-{{i}}"
              [ngModel]="employee.last_name | uppercase" (ngModelChange)="employee.last_name=$event" name="last_name"
              readonly>
          </td>
          <td><input type="text" class="input is-small is-primary myclass-{{i}}"
              [ngModel]="employee.department | uppercase" (ngModelChange)="employee.department=$event" name="department"
              readonly>
          </td>
          <td><input type="text" class="input is-small is-primary myclass-{{i}}" [ngModel]="employee.status | uppercase"
              (ngModelChange)="employee.status=$event" name="status" readonly>
          </td>
          <td><button hidden id="btn-save-{{i}}" class="is-small is-primary"
              (click)="updateEmployee(employee, employee.id)">Save</button></td>
        </tr>
      </tbody>
    </table>
  </form> -->
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>DEPARTMENT</th>
        <th>STATUS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let i = index" [attr.data-index]="i">
        <td><input #chkbox type="checkbox" name="chkbox" id="chkbox-{{i}}" (change)="toggleDisabled(chkbox)"></td>
        <td>{{employee.id}}</td>
        <td>{{employee.first_name | uppercase}}</td>
        <td>{{employee.last_name | uppercase}}</td>
        <td>{{employee.department | uppercase}}</td>
        <td>{{employee.status | uppercase}}</td>
        <td><button hidden id="btn-edit-{{i}}" class="is-small is-primary">Edit</button></td>
      </tr>
    </tbody>
  </table>
  <br><br><br>
</div>