<h1 class="title is-1 has-text-centered" style="font-family: 'Alfa Slab One'; color: #00CBA9">Employees</h1>
<br>
<div class="admin-main">
  <br><br>
  <div class="tabs is-toggle is-centered">
    <ul>
      <li>
        <a>Employees
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
          <span>Music</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
          <span>Videos</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Documents</span>
        </a>
      </li>
    </ul>
  </div>
  <table class="table" align="center">
    <!-- <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>DEPARTMENT</th>
        <th>STATUS</th>
      </tr>
    </thead> -->
    <tbody>
      <tr *ngFor="let employee of employees">
        <td><input type="checkbox"></td>
        <td>{{employee.id}}</td>
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.status}}</td>
      </tr>
    </tbody>
  </table>
  <br><br><br>
</div>