
.table {
    background-color: transparent;
}
.table th {
    border: none;
    text-align: center !important;
    font-family: 'gentium book basic';
}
.table td {
    border: none;
}

.tabs a {
    color: #00CBA9;
}