
<div class="field is-horizontal">
  <div class="field-label">
    <input type="text" class="input is-primary" #searchTerm name="searchTerm"
           placeholder="Search Last Name or ID" id="searchTerm" style="width: 250px">
  </div>
  <div class="field-body">
    <button type="button" class="button is-primary is-outlined" (click)="searchClients(searchTerm.value)">SEARCH</button>
  </div>
</div>

<br>
<div *ngIf="isLoading">
  <h3 class="title is-3">Loading....</h3>
</div>
<table class="table" *ngIf="!isLoading">
  <thead>
    <th>ID</th>
    <th>FIRST NAME</th>
    <th>LAST NAME</th>
    <th>CITY</th>
    <th>DOB</th>
    <th>SSN</th>
    <th>PHONE 1</th>
    <th>CREATED:</th>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients">
    <td><a routerLink="/clients/{{client.id}}">{{client.id}}</a> </td>
    <td><a routerLink="/clients/{{client.id}}">{{client.first_name | uppercase}}</a></td>
    <td><a routerLink="/clients/{{client.id}}">{{client.last_name | uppercase}}</a></td>
    <td>{{client.state | uppercase}}</td>
    <td>{{client.dob}}</td>
    <td>{{client.ssn}}</td>
    <td>{{client.phone_1}}</td>
    <td>{{client.created_at | date:'mediumDate' }}</td>
  </tr>
  </tbody>
</table>
<table class="table">
  <tr>
    <td>
      <nav class="pagination is-right" role="navigation" aria-label="pagination">
        <a class="pagination-previous" (click)="pageBack()">Previous</a>
        <a class="pagination-next" (click)="pageForward()">Next page</a>
      </nav>
    </td>
  </tr>
</table>
