<table class="table">
  <thead>
    <th>ID</th>
    <th>FIRST NAME</th>
    <th>LAST NAME</th>
    <th>CITY</th>
    <th>DOB</th>
    <th>SSN</th>
    <th>PHONE 1</th>
  </thead>
  <tbody>
  <tr *ngFor="let client of clients | slice:0:20">
    <td><a routerLink="/clients/{{client.id}}">{{client.id}}</a> </td>
    <td><a routerLink="/clients/{{client.id}}">{{client.first_name}}</a></td>
    <td><a routerLink="/clients/{{client.id}}">{{client.last_name}}</a></td>
    <td>{{client.state}}</td>
    <td>{{client.dob}}</td>
    <td>{{client.ssn}}</td>
    <td>{{client.phone_1}}</td>
  </tr>
  <tr>
    <td></td>
  </tr>
  </tbody>
</table>
