table {
    background-color: #01D0B2;
    color: white;
}
.table td, .table th {
    border: none;
}
.input.ng-valid.ng-touched {
    border: 2px solid #42A948;
}
.input.ng-invalid.ng-touched {
    border: solid 2px #a94442;
}

