<form [formGroup]="clientForm" (ngSubmit)="addClient(clientForm.value)">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
        <h1 class="title is-2 has-text-centered">Add New Client</h1>
        <table class="table is-narrow">
          <tr>
            <td>First Name:
              <input type="text" class="input" formControlName="first_name" required [minLength]="3">
              <div *ngIf="f.first_name.invalid && f.first_name.touched"
                   class="help is-danger">Please enter at least 3 letters
              </div>
            </td>
            <td>Last Name:
              <input type="text" class="input" formControlName="last_name">
              <div *ngIf="f.last_name.invalid && f.last_name.touched"
                   class="help is-danger">Please enter at least 3 letters
              </div>
            </td>
            <td>Status:
              <input type="text" class="input" formControlName="status">
            </td>
          </tr>
        </table>
        <table class="table is-narrow">
          <tr>
            <td>Address:
              <input type="text" class="input" formControlName="address_1">
            </td>
            <td>Address 2:
              <input type="text" class="input" formControlName="address_2">
            </td>
          </tr>
        </table>
        <table class="table is-narrow">
          <tr>
            <td>City:
              <input type="text" class="input" formControlName="city">
            </td>
            <td>State:
              <input type="text" class="input" formControlName="state" placeholder="XX">
            </td>
            <td>Zipcode:
              <input type="text" class="input" formControlName="zipcode" placeholder="33333">
            </td>
          </tr>
        </table>
          <table class="table">
            <tr>
              <td>Notes:
                  <textarea class="textarea" cols="50" rows="5" formControlName="notes"
                  placeholder="Enter notes here..."></textarea>
              </td>
            </tr>
          </table>
          <table class="table">
            <tr>
              <td>
                <button type="submit" class="button is-link is-inverted" style="margin-right: 5px">Add Client</button>
                <button class="button is-link is-inverted" routerLink="/">Cancel</button>
              </td>
            </tr>
          </table>
        </article>
      </div>
    </div>
    <div class="tile is-vertical is-4">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <h1 class="title is-3 has-text-centered">Personal Info</h1>
          <table class="table is-narrow">
            <tr>
              <td>Phone 1:
                <input type="tel" class="input" formControlName="phone_1" placeholder="555-555-5555">
              </td>
            </tr>
            <tr>
              <td>Phone 2:
                <input type="text" class="input" formControlName="phone_2" placeholder="555-555-5555">
              </td>
            </tr>
            <tr>
              <td>Date of Birth:
                <input type="date" class="input" formControlName="dob">
              </td>
            </tr>
            <tr>
              <td>Social Security:
                <input type="text" class="input" formControlName="ssn" placeholder="999-99-9999">
              </td>
            </tr>
          </table>
        </article>
      </div>
    </div>
  </div>
</form>
<div class="modal" id="modal-error">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">WARNING</p>
      <button class="delete" aria-label="close" (click)="closeModal()"></button>
    </header>
    <section class="modal-card-body">
      <p>You may not be authorized to add clients</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="closeModal()">Close</button>
    </footer>
  </div>

