@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Gentium+Book+Basic&display=swap');

a.panel-block {
    font-family: "gentium book basic", sans-serif;
    font-size: larger;
}
.navbar.is-warning.my-nav {
    height: 50px;
}
.my-nav h2 {
    font-family: 'oswald', sans-serif;
}
