@import url('https://fonts.googleapis.com/css?family=Oswald');

a.panel-block {
    font-family: "Bodoni 72", sans-serif;
    font-size: larger;
}
.navbar.is-warning.my-nav {
    height: 50px;
}
.my-nav h2 {
    font-family: 'oswald', sans-serif;
}
