<div *ngIf="client">
  
  <form #clientForm="ngForm">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-8">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <h1 class="title is-2 has-text-centered">
              {{client.first_name | uppercase}} {{client.last_name | uppercase}}
            </h1>
            <table class="table is-narrow">
              <tr>
                <td>First Name:
                  <input type="text" class="input" name="first_name"
                         [ngModel]="client.first_name | uppercase" (ngModelChange)="client.first_name=$event">
                </td>
                <td>Last Name:
                  <input type="text" class="input" name="last_name" [ngModel]="client.last_name | uppercase"
                         (ngModelChange)="client.last_name=$event">
                </td>
                <td>Status:
                  <input type="text" class="input" name="status" [ngModel]="client.status | uppercase"
                         (ngModelChange)="client.status=$event">
                </td>
              </tr>
            </table>
            <table class="table is-narrow">
              <tr>
                <td>Address:
                  <input type="text" class="input" name="address_1" [ngModel]="client.address_1 | uppercase"
                         (ngModelChange)="client.address_1=$event">
                </td>
                <td>Address 2:
                  <input type="text" class="input" name="address_2" [ngModel]="client.address_2 | uppercase"
                         (ngModelChange)="client.address_2=$event">
                </td>
              </tr>
            </table>
            <table class="table is-narrow">
              <tr>
                <td>City:
                  <input type="text" class="input" name="city" [ngModel]="client.city | uppercase"
                         (ngModelChange)="client.city=$event">
                </td>
                <td>State:
                  <input type="text" class="input" name="state" [ngModel]="client.state | uppercase"
                         (ngModelChange)="client.state=$event">
                </td>
                <td>Zipcode:
                  <input type="text" class="input" name="zipcode" [(ngModel)]="client.zipcode">
                </td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <td>Notes:
                  <textarea class="textarea" cols="50" rows="5" name="notes" [(ngModel)]="client.notes"></textarea>
                </td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <td>
                  <button type="submit" class="button is-link is-inverted"
                          style="margin-right: 5px" (click)="updateClient(clientForm.value)">Update</button>
                  <button class="button is-link is-inverted" routerLink="/">Back to clients</button>
                  <button class="button is-link is-danger" (click)="deleteClient(clientForm.value)">Delete</button>
                </td>
              </tr>
            </table>
          </article>
        </div>
      </div>
      <div class="tile is-vertical is-4">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <h1 class="title is-3 has-text-centered">Personal Info</h1>
            <table class="table is-narrow">
              <tr>
                <td>Phone 1:
                  <input type="text" class="input" name="phone_1" [(ngModel)]="client.phone_1">
                </td>
              </tr>
              <tr>
                <td>Phone 2:
                  <input type="text" class="input" name="phone_2" [(ngModel)]="client.phone_2">
                </td>
              </tr>
              <tr>
                <td>Date of Birth:
                  <input type="text" class="input" name="dob" [(ngModel)]="client.dob">
                </td>
              </tr>
              <tr>
                <td>Social Security:
                  <input type="text" class="input" name="ssn" [(ngModel)]="client.ssn">
                </td>
              </tr>
              <tr>
                <td>
                  <input type="hidden" class="input" name="id" [(ngModel)]="client.id">
                </td>
              </tr>
            </table>
          </article>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor has-text-centered">
      <div class="tile is-vertical is-8">
        <div class="tile">
          <div class="tile is-parent is-vertical">
            <article class="tile is-child notification is-primary is-outlined">
              <h2 class="title is-3">Deals for {{client.first_name}}</h2>
              <table class="table">
                <tr *ngFor="let deal of client.deal_id">
                  <td>
                    <strong>Deal ID:</strong>
                    {{deal.id}}
                  </td>
                  <td>
                    <strong>Amount:</strong>
                    {{deal.amt_client_recvd}}
                  </td>
                  <td>
                    <strong>Status:</strong>
                    {{deal.status}}
                  </td>
                </tr>
              </table>
            </article>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
